# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.project
.classpath
.settings
.metadata

# Idea
.idea
*.iml
*.iws
*.ipr

# VSCode
.vscode

# Maven
target/

# Build
out/
build/
bin/

# Other
*.txt
!model/mnist/model.txt
